html, body {
    height: 100%;
    margin: 0;
    background-image: url("https://ak.picdn.net/shutterstock/videos/25428014/thumb/5.jpg");
    background-size: cover;
}
 
.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    color:#e6ffff;
    overflow: hidden;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
 
.container h1{
    font-family: Comic Sans MS, sans-serif;
    font-size: 40px;
    color: #DDCCEE;
    margin-top: 80px;
}
 
.container form {
    margin: 20px;
}

.container h2 {
    font-family: Georgia, serif;
    font-size: 25px;
    color:rgb(249, 255, 243);
    margin-top:2px;
}

.container h3{
    font-family: Goudy Old Style;
    font-size: 20px;
    color:rgb(249, 255, 243);
    margin-top:20px;
}
 
.container input {
    width: 250px;
    height: 17px;
    font-size: 15px;
    margin: 2px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
    
}

.container button {
    padding: 0.5rem;
    width: 75px;
    height: 30px;
    background-color: rgb(219, 222, 176);
    border: mediumblue;
    margin: 4px;
    border-radius: 7px;
}

.output {
    display: inline-block;
    font-size: 18px;
    color: rgb(249, 255, 243);
}
